li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  li div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li div svg {
    height: 22px;
  }
  li img {
    width: 240px;
    height: 120px;
  }
  
  li h4 {
    text-align: center;
  }
  