.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;

  height: 912px;
}
.items {
  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  width: 5px;
  background-color: #2f2f37;
}

.items::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
.tabbar {
  display: flex;
}

.products {
  display: grid;
  grid-template-columns: 290px 290px;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
